.todo{
    background-color: steelblue;
    
}
.encabezado{
    background-color: beige;
    text-align: center;
}
.pie{
    background-color: yellow;
    text-align: center;
}
.inicio{
    display: flex;
    
}
button{
    font-size: x-large;
}
